<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">

    <div class="carousel-inner" style="height:400px;">
      <% for (let index = 0; index < 4; index++) { %>
          <div class="carousel-item <% if (index === 0) { %>active<% } %>">
            <img src="/backend/departments/<%= p.deptPhoto[index] %>" class="d-block w-100" alt="Carousel Image" style="height:400px;">
          </div>
          <% }%>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  <!-- vision -->
<div style="display: flex;">
    <div class="card mb-3" style="height:345px; width:535px; margin-top: 50px; margin-left: 20px; text-align: center;">
      <div class="card-body">
        <img src="/backend/image/study2.png"  style="width: 490px; height:310px;">
        </div>
      </div>
    
    <div class="card mb-3" style="height:345px; width:500px; margin-top: 50px; margin-left: 20px; text-align: center;">
      <div class="card-body">
        <center><h4 style="color:black; padding-top: 50px; padding-bottom: 30px;">Our Vision</h4></center>
        <p style="font-size: 15px;" class="card-text"><%=p.visionDetails%></p>
      </div>
    </div>
  </div>
  
  
  <!-- mission -->
      <div style="display: flex;">
        
        <div class="card mb-3" style="height:345px; width:540px; margin-top: 5px; margin-left: 20px; text-align: center;">
          <div class="card-body">
            <center><h4 style="color:black; padding-top: 50px;padding-bottom: 50px;"">Our Mission</h4></center>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2000">
  
              <div class="carousel-inner" style="height:100px;">
                    <div class="carousel-item active">
                      <p style="font-size: 15px;" class="card-text"><%=p.missionDetails%></p>
                    </div>
                    <div class="carousel-item">
                      <p style="font-size: 15px;" class="card-text"><%=p.missionnDetails%></p>
                    </div>
                    <div class="carousel-item ">
                      <p style="font-size: 15px;" class="card-text"><%=p.missionnnDetails%></p>
                    </div>
                    <div class="carousel-item ">
                      <p style="font-size: 15px;" class="card-text"><%=p.missionnnnDetails%></p>
                    </div>
              </div>
        
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        
            </div>
          </div>
        </div>
  
        <div class="card mb-3" style="height:345px; width:500px; margin-top: 5px; margin-left: 20px; text-align: center;">
          <div class="card-body">
            <img src="/backend/image/class.png"  style="width: 450px; height:310px;">
            </div>
          </div>
      </div>