<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>

    <title><%=x.pageTitle%></title>
    <meta name="description" content="<%=x.pageMetaDescription%>" />
    <meta name="keywords" content="<%=x.pageMetaKeyword%>" />
  </head>
  <body>
    
    <%- include('common/header.ejs')-%>

   

    <%- include('common/footer.ejs')-%>

  </body>
</html>