<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>IT EVENTS</title>
    
  </head>
  <body>
    
    <%- include('common/header.ejs')-%>

 

      <div class="container" style="width:1100px; margin-bottom: 100px;">
        <%-p.deptDetails%>
  <!-- navbar -->
  <center><h2 style="padding-top: 30px; padding-bottom: 30px;">Information Technology Department Events</h2></center>
        <div class="event-page" style="background-color:#fff;  border:2px solid black;">

 
   
        <div class="event-card" style="display:flex; color: white; margin-top:5px; margin-bottom:5px;">
                <div class="event-img" style="float:left; position: relative; left: 10px;">
                    <img style="size:100px; height: 200px; width:300px; padding:10px;" src="/backend/itdepartmentevents/<%=p.eventitphoto%>">
                </div>
                <div class="event-details" style="float:right; position: relative; margin-top:auto; margin-bottom:auto;left: 100px; color: black;">  
                    <div style="padding:5px;">Event Name: <%=p.eventitname %> </div>  
                    <div style="padding:5px;"> Event Date: <%=p.eventitdate %></div>
                    <div style="padding:5px;"> Resource Person: <%=p.eventitperson %></div>
                    <div style="padding:5px;"> About:  <%=p.eventitdesc %> </div>   
                </div>

        </div>

     
    </div>

 
</div>
<%- include('common/footer.ejs')-%>
    </body>
</html>