<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>
   <!-- <link rel="stylesheet" type="text/css" href="css/faculty.css"> -->
    <title>Faculty</title>
    <meta name="description" content="<%=x.pageMetaDescription%>" />
    <meta name="keywords" content="<%=x.pageMetaKeyword%>" />
  </head>
  <body>
    
    <%- include('common/header.ejs')-%>
<div class="record-block"
style="

height:800px;
align-items: center;
border-style:solid;
border-width: 1px;
border-radius: 10px;
margin:10px 20px;
padding:10px;
border-color: grey;
color:#fff;
background-color: #af9a56;
">
<table>
   <tbody>
   <%facultydata.forEach((i)=>{%>
      <tr>
         <td style=" border-style: solid;
         border-width:2px;
         border-color: black;
         width:200px;
         " 
         >
      <div class="image-block"
      style= "
   float:left;
   padding:10px 10px;
      "
      >

      <% if(i.facultyPhoto){ %>
         <img src="/backend/faculty/<%= i.facultyPhoto%>" width="100">
      <% } else { %>
         <img src="/backend/faculty/no_image.jpg" width="100">
      <% } %>
     </div>
   </td>
   <td style=" border-style: solid;
   border-width:2px;
   border-color: black;
   width:800px;
   " >

     <div class="data-block"
     style="float:right;
   position:relative;
     left:10px;
     padding:20px 20px;
     "
     >
      <div class="faculty-data">
         <div>Name: <%= i.faculty_name%></div>
         <div>Department: <%= i.department%></div>
         <div>Qualification: <%= i.qualification%></div>
         <div>Joining Year: <%= i.joining_year%></div>
         <div>Email Id: <%= i.emailid%></div>
      </div>
     </div>
     </td>
   </tr>
      <%facultydata})%>
        
   </tbody>
</table>
</div>
  <%- include('common/footer.ejs')-%>

  </body>
</html>



