<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>
   <link rel="stylesheet" type="text/css" href="faculty.css">
    <title>Faculty</title>
    <meta name="description" content="<%=x.pageMetaDescription%>" />
    <meta name="keywords" content="<%=x.pageMetaKeyword%>" />
  </head>
  <body>
    
    <%- include('common/header.ejs')-%>
<div class="record-block"
style="

height:800px;
align-items: center;
border-style:solid;
border-width: 1px;
border-radius: 10px;
margin:10px 20px;
padding:10px;
border-color: grey;
color:#fff;
background-color: #af9a56;
">
   <%facultydata.forEach((i)=>{%>
      <div style=" margin: 20px 0px; z-index: 0;">
      <div class="image-block"
      style="
      display:flex;
      left:100px;
      position:absolute;
      "
      >

      <% if(i.facultyPhoto){ %>
         <img src="/backend/faculty/<%= i.facultyPhoto%>" width="100">
      <% } else { %>
         <img src="/backend/faculty/no_image.jpg" width="100">
      <% } %>
     </div>
     <div class="data-block"
     style="
       display:flex;
       left:800px;
      position:absolute;
      "
     
   
     >
      <div class="faculty-data">
         <div>Name: <%= i.faculty_name%></div>
         <div>Department: <%= i.department%></div>
         <div>Qualification: <%= i.qualification%></div>
         <div>Joining Year: <%= i.joining_year%></div>
         <div>Email Id: <%= i.emailid%></div>
      </div>
     </div>
   </div>
      <%facultydata})%>

</div>

    
    
    
    
    
    
    
    
    
    
    
    
     
    
    
    
    <!-- </thead>
        <tbody>
           <%facultydata.forEach((i)=>{%>
              <tr>
                <td>
                    <% if(i.facultyPhoto){ %>
                        <img src="/backend/faculty/<%= i.facultyPhoto%>" width="100">
                    <% } else { %>
                        <img src="/backend/faculty/no_image.jpg" width="100">
                    <% } %>
                    </td>
                 <td><%= i.faculty_name%></td>
                 <td><%=i.department%></td>
                 <td><%=i.qualification%></td>
                 <td><%=i.joining_year%></td>
                 <td><%=i.emailid%></td>


                    </form>
                 </td>
              </tr>
              <%facultydata})%>
          
        </tbody> -->
  
    
    <%- include('common/footer.ejs')-%>

  </body>
</html>



