<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>

    <title>GCE - Goa College of Engineering</title>
  </head>
  <body>
    
    <%- include('common/header.ejs')-%>


      <section>
        <div class="container">

          <%  x.forEach((y) => { %>
              <h2> <%= y.pageHeading %> </h2>
             
               <%-y.pageDetails.slice(0,1000) %>
               <a href="<%- y.pageUrl%>" >View details >></a>
               <hr>
               <br>
          <%  }) %>


        </div>


      </section>

    <%- include('common/footer.ejs')-%>

  </body>
</html>