<!doctype html>
<html lang="en">
  <head>
    <%- include('common/head.ejs')-%>

    <title>Placement Records</title>
    
  </head>
    <body>
    
    <%- include('common/header.ejs')-%>

    <h3 style="text-align: center; margin: 50px 0 30px 0;">Placement Records</h3>
            
               
    <div class="dashboard-content-area" style="margin:15px;">
    <table class="table table-bordered" style="padding:10px " id="dataTable" width="100%" cellspacing="0">
       <thead>
          <tr>
             <th>Student Name</th>
             <th>Department</th>
             <th>Batch Year</th>
             <th>CGPA</th>
             <th>Company</th>
             <th>Sem Num</th>
             <th>Package</th>
          </tr>
       </thead>
       <tbody>
          <%plcrec.forEach((b)=>{%>
          <tr>
             <td><%=b.student_name%> </td>
             <td><%=b.department%> </td>
             <td> <%=b.batchyr%> </td>
             <td> <%=b.cgpa%> </td>
             <td> <%=b.company%> </td>
             <td> <%=b.semno%> </td>
             <td> <%=b.package%> </td>
         </tr>
         <%plcrec})%>
        </tbody>
    </table>    
</div>
    <%- include('common/footer.ejs')-%>

  </body>
</html>