<%- include('common/head.ejs')-%>

   <title>Admin Panel - Edit Result</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">



                 <!-- put your contente -->
                 <h1 class="mb-2 mt-2">Edit Result</h1>
    
                 <form method="post" action="/result/edit-result/<%=x.title%>?_method=put" enctype="multipart/form-data">
             
                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                     <div class="col col-lg-2"><label class="form-label">Title</label></div>
                     <div class="col"><input type="text" name ="title" class="form-control" value="<%=x.title%>" placeholder="title" required></div>
                   </div>

                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                      <div class="col col-lg-2"><label class="form-label">Semester</label></div>
                      <div class="col"><input type="text" name ="semester" class="form-control" value="<%=x.semester%>" placeholder="Year"></div>
                    </div>

                    <div class="mb-3 mt-3 row g-9 align-items-center">  
                      <div class="col col-lg-2"><label class="form-label">RC</label></div>
                      <div class="col"><input type="text" name ="rc" class="form-control" value="<%=x.rc%>" placeholder="RC Batch" required></div>
                    </div>
             
             
                                     
                   <div class="mb-3 mt-3 row g-9 align-items-center"> 
                     <div class="col col-lg-2"><label class="form-label">Result Pdf</label></div>
                     <div class="col"><input type="file" name="resultpdf" class="form-control" ></div>
                   </div>
                   
                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                    <div class="col col-lg-2"><label class="form-label">Department</label></div>
                    <div class="col"><input type="text" name ="department" class="form-control" value="<%=x.department%>" placeholder="department"></div>
                  </div>
           

                  <div class="mb-3 mt-3 row g-9 align-items-center">  
                    <div class="col col-lg-2"><label class="form-label">Reval</label></div>
                    <div class="col"><input type="text" name ="reval" class="form-control" value="<%=x.reval%>" placeholder="reval"></div>
                  </div>
           
                   <div class="mb-5 mt-3 align-items-center text-center"> 
                        <button type="submit" class="btn btn-primary">Submit</button>
                   </div>
               </form>

            <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      