<%- include('common/head.ejs')-%>

   <title>Admin Panel - Edit Mechanical Event</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">



                 <!-- put your contente -->
                 <h1 class="mb-2 mt-2">Edit Mechanical Event</h1>
    
                 <form method="post" action="/mechdepartment/edit-mechdepartment/<%=x.eventmechname%>?_method=put" enctype="multipart/form-data">
             
                  
                   <div class="mb-3 mt-3 row g-9 align-items-center">
                     <div class="col col-lg-2"><label class="form-label">Navbar</label></div>
                     <div class="col"><textarea rows="10" class="editor form-control Page_Details" id="editor" name="eventmechnav" placeholder="Event Nav"><%=x.eventmechnav %></textarea></div>
                   </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center"> 
                   <div class="col col-lg-2"><label class="form-label">Event Photo</label></div>
                   <div class="col"><input type="file" name="eventmechphoto" class="form-control" value="<%=x.eventmechphoto %>" placeholder="select image!" ></div>
                 </div>
                 <div class="mb-3 mt-3 row g-9 align-items-center">  
                     <div class="col col-lg-2"><label class="form-label">Event Name</label></div>
                     <div class="col"><input type="text" name ="eventmechname" class="form-control" value="<%=x.eventmechname %>" placeholder="Event Title" ></div>
                   </div>

                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                     <div class="col col-lg-2"><label class="form-label">Event Date</label></div>
                     <div class="col"><input type="date" name ="eventmechdate" class="form-control" value="<%=x.eventmechdate %>" placeholder="Event Date" ></div>
                   </div>
                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                     <div class="col col-lg-2"><label class="form-label">Event Resource Person</label></div>
                     <div class="col"><input type="text" name ="eventmechperson" class="form-control" value="<%=x.eventmechperson %>" placeholder="Event Resourse Person" ></div>
                   </div>
                 <div class="mb-3 mt-3 row g-9 align-items-center">
                   <div class="col col-lg-2"><label class="form-label">Event Description</label></div>
                   <div class="col"><textarea rows="4" class="form-control"  name="eventmechdesc"value="<%=x.eventmechdesc %>" placeholder="Event Details"></textarea></div>
                 </div>
                
             
                   <div class="mb-5 mt-3 align-items-center text-center"> 
                        <button type="submit" class="btn btn-primary">Submit</button>
                   </div>
               </form>

            <!-- end your content here -->




             </div>
            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      