<%- include('common/head.ejs')-%>

   <title>Admin Panel - Edit Page</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1900px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">



                 <!-- put your contente -->
                 <h1 class="mb-2 mt-2">Edit Page</h1>
    
                 <form method="post" action="/department/edit-department/<%=x.deptUrl%>?_method=put" enctype="multipart/form-data">
             
                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                     <div class="col col-lg-2"><label class="form-label">Department URL</label></div>
                     <div class="col"><input type="text" name ="dept_Url" class="form-control" value="<%=x.deptUrl%>" placeholder="Department Url" required></div>
                   </div>

                   <div class="mb-3 mt-3 row g-9 align-items-center">  
                      <div class="col col-lg-2"><label class="form-label">Nav Display Text</label></div>
                      <div class="col"><input type="text" name ="dept_Nav_Text" class="form-control" value="<%=x.deptNavText%>" placeholder="Navigation Display Text" required></div>
                    </div>

                    <div class="mb-3 mt-3 row g-9 align-items-center">  
                      <div class="col col-lg-2"><label class="form-label">Department Title</label></div>
                      <div class="col"><input type="text" name ="dept_Title" class="form-control" value="<%=x.deptTitle%>" placeholder="Department Title" required></div>
                    </div>
                   
                   <div class="mb-3 mt-3 row g-9 align-items-center">
                     <div class="col col-lg-2"><label class="form-label">h1</label></div>
                     <div class="col"><input type="text" name ="dept_Heading" class="form-control" value="<%=x.deptHeading%>" placeholder="Department Heading" ></div>
                   </div>
                   
                   <div class="mb-3 mt-3 row g-9 align-items-center">
                     <div class="col col-lg-2"><label class="form-label">Edit Navbar</label></div>
                     <div class="col"><textarea rows="10" class="editor form-control Page_Details" id="editor" name="dept_Details" placeholder="Edit Navbar"><%=x.deptDetails%></textarea></div>
                   </div>

                   <div class="mb-3 mt-3 row g-9 align-items-center"> 
                    <div class="col col-lg-2"><label class="form-label">Carousel Images</label></div>
                    <div class="col"><input type="file" name="dept_Photo" class="form-control" placeholder="select multiple images!!" multiple></div>
                  </div>

                   <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">About us Container-1</label></div>
                    <div class="col"><textarea rows="5" class=" form-control "  name="about_Details" placeholder="Enter Details"><%=x.aboutDetails%></textarea></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">About us Container-2</label></div>
                    <div class="col"><textarea rows="5" class=" form-control "  name="aboutt_Details" placeholder="Enter Details"><%=x.abouttDetails%></textarea></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">About us Container-3</label></div>
                    <div class="col"><textarea rows="5" class=" form-control "  name="abouttt_Details" placeholder="Enter Details"><%=x.aboutttDetails%></textarea></div>
                  </div>

                  <!-- <div class="mb-3 mt-3 row g-9 align-items-center"> 
                    <div class="col col-lg-2"><label class="form-label">Vision Image</label></div>
                    <div class="col"><input type="file" name="vision_Photo" class="form-control" placeholder="Select vision image" ></div>
                  </div> -->
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Vision Text</label></div>
                    <div class="col"><textarea rows="5" class=" form-control "  name="vision_Details" placeholder="Enter Vision"><%=x.visionDetails%></textarea></div>
                  </div>

                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Mission 1</label></div>
                    <div class="col"><textarea rows="1" class=" form-control "  name="mission_Details" placeholder="Enter Mission 1"><%=x.missionDetails%></textarea></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Mission 2</label></div>
                    <div class="col"><textarea rows="1" class=" form-control "  name="missionn_Details" placeholder="Enter Mission 2"><%=x.missionnDetails%></textarea></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Mission 3</label></div>
                    <div class="col"><textarea rows="1" class=" form-control "  name="missionnn_Details" placeholder="Enter Mission 3"><%=x.missionnnDetails%></textarea></div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-2"><label class="form-label">Mission 4</label></div>
                    <div class="col"><textarea rows="1" class=" form-control "  name="missionnnn_Details" placeholder="Enter Mission 4"><%=x.missionnnnDetails%></textarea></div>
                  </div>

                  <!-- <div class="mb-3 mt-3 row g-9 align-items-center"> 
                    <div class="col col-lg-2"><label class="form-label">Mission Image</label></div>
                    <div class="col"><input type="file" name="mission_Photo" class="form-control" placeholder="Select mission image" ></div>
                  </div> -->

                   <div class="mb-5 mt-3 align-items-center text-center"> 
                        <button type="submit" class="btn btn-primary">Submit</button>
                   </div>
               </form>

            <!-- end your content here -->




             </div>
            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      