<%- include('common/head.ejs')-%>

   <title>Admin Panel - Edit Useful Info</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                <h1 class="mb-2 mt-2">Edit Useful Info</h1>
    
                   <form method="post" action="/usefullink/edit-usefullink/<%=x.usefulinfoname%>" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Useful Info Name</label></div>
                        <div class="col"><input type="text" name ="usefulinfoname" class="form-control" value="<%=x.usefulinfoname %>" placeholder="Useful Info Name"></div>
                      </div>                  
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">Useful Info Link</label></div>
                       <div class="col"><input type="file" name="usefulinfo" value="<%=x.usefulinfo %>" class="form-control" ></div>
                     </div>
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

              <!-- end your content here -->

             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      