<%- include('common/head.ejs')-%>

   <title>Edit faculty</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                   <h1 class="mb-2 mt-2">Edit Record</h1>
    
                   <form method="post" action="/faculty/edit-faculty-file/<%= i.faculty_name%>?_method=put" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                       <div class="col col-lg-2"><label class="form-label">Faculty Name</label></div>
                       <div class="col"><input type="text" name ="faculty_name" class="form-control" value="<%=i.faculty_name%>" placeholder="Faculty Name" required></div>
                     </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Qualifications</label></div>
                        <div class="col"><input type="text" name ="qualification" class="form-control" value="<%=i.qualification%>" placeholder="Qualification" required></div>
                      </div>

                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label"> Department</label></div>
                        <div class="col"><input type="text" name ="department" class="form-control" value="<%=i.department%>" placeholder="Department" required></div>
                      </div>
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">
                       <div class="col col-lg-2"><label class="form-label">Joining Year</label></div>
                       <div class="col"><input type="text" name ="joining_year" class="form-control" value="<%=i.joining_year%>" placeholder="Joining Year" required></div>
                     </div>
                     
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">Email ID</label></div>
                       <div class="col"><input type="email" name="cgpa" class="form-control" value="<%=i.email%>" placeholder="abc@gmail.com"></div>
                     </div>
                  
                    </div>
                    <div class="mb-3 mt-3 row g-9 align-items-center"> 
                      <div class="col col-lg-2"><label class="form-label">Photo</label></div>
                      <div class="col"><input type="file" name="facultyPhoto" value="<%=i.facultyPhoto%>" class="form-control" ></div>
                    </div>
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

            




             </div>

            </div>
         </div>
      </div>
      </body>
<%- include('common/footer.ejs')-%>