<%- include('common/head.ejs')-%>

   <title>Edit ETC faculty</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                   <h1 class="mb-2 mt-2">Edit Record</h1>
    
                   <form method="post" action="/etcfaculty/edit-etcfaculty/<%= x.etcfacultyEmailId%>?_method=put" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                       <div class="col col-lg-2"><label class="form-label">Faculty Name</label></div>
                       <div class="col"><input type="text" name ="etcfaculty_Name" class="form-control" value="<%=x.etcfacultyName%>" placeholder="Faculty Name" required></div>
                     </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Qualifications</label></div>
                        <div class="col"><input type="text" name ="etcfaculty_Qualification" class="form-control" value="<%=x.etcfacultyQualification%>" placeholder="Qualification" required></div>
                      </div>

                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label"> Department</label></div>
                        <div class="col"><input type="text" name ="etcfaculty_Department" class="form-control" value="<%=x.etcfacultyDepartment%>" placeholder="Department" required></div>
                      </div>
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">
                       <div class="col col-lg-2"><label class="form-label">Joining Year</label></div>
                       <div class="col"><input type="text" name ="etcfaculty_JoiningYear" class="form-control" value="<%=x.etcfacultyJoiningYear%>" placeholder="Joining Year" required></div>
                     </div>
                     
                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                       <div class="col col-lg-2"><label class="form-label">Email ID</label></div>
                       <div class="col"><input type="email" name="etcfaculty_EmailId" class="form-control" value="<%=x.etcfacultyEmailId%>" placeholder="abc@gmail.com"></div>
                     </div>
                  
                    </div>
                    <div class="mb-3 mt-3 row g-9 align-items-center"> 
                      <div class="col col-lg-2"><label class="form-label">Photo</label></div>
                      <div class="col"><input type="file" name="etcfaculty_Photo" value="<%=x.facultyPhoto%>" class="form-control" ></div>
                    </div>
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

            




             </div>

            </div>
         </div>
      </div>
    
<%- include('common/footer.ejs')-%>