<%- include('common/head.ejs')-%>

   <title>Admin Panel - Edit Event Pages</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:2000px;  background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
              <div class="dashboard-content-area">

                   <!-- put your contente -->
                   <h1 class="mb-2 mt-2">Edit Event Pages</h1>
    
                   <form method="post" action="/events/edit-event/<%=x.eventdepturl%>?_method=put" enctype="multipart/form-data">
               
                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                       <div class="col col-lg-2"><label class="form-label">URL</label></div>
                       <div class="col"><input type="text" name ="eventdepturl" class="form-control" value="<%= x.eventdepturl %>" placeholder="Department Url" required></div>
                     </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Nav Display Text</label></div>
                        <div class="col"><input type="text" name ="eventdeptnavtext" class="form-control" value="<%=x.eventdeptnavtext %>" placeholder="Navigation Display Text" required></div>
                      </div>

                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Page Title</label></div>
                        <div class="col"><input type="text" name ="eventdepttitle" class="form-control" value="<%=x.eventdepttitle %>" placeholder="Department Title" required></div>
                      </div>

                     <div class="mb-3 mt-3 row g-9 align-items-center"> 
                      <div class="col col-lg-2"><label class="form-label">Slider Images</label></div>
                      <div class="col"><input type="file" name="eventslider" class="form-control" value="<%=x.eventslider %>" placeholder="select multiple images!!" multiple></div>
                    </div>
                    <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Event Name</label></div>
                        <div class="col"><input type="text" name ="eventname" class="form-control" value="<%=x.eventname %>" placeholder="Event Title" ></div>
                      </div>

                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Event Date</label></div>
                        <div class="col"><input type="date" name ="eventdate" class="form-control" value="<%=x.eventdate %>" placeholder="Event Date" ></div>
                      </div>
                      <div class="mb-3 mt-3 row g-9 align-items-center">  
                        <div class="col col-lg-2"><label class="form-label">Event Resource Person</label></div>
                        <div class="col"><input type="text" name ="eventperson" class="form-control" value="<%=x.eventperson %>" placeholder="Event Resourse Person" ></div>
                      </div>
                    <div class="mb-3 mt-3 row g-9 align-items-center">
                      <div class="col col-lg-2"><label class="form-label">Event Description</label></div>
                      <div class="col"><textarea rows="4" class="form-control"  name="eventdesc"value="<%=x.eventdesc %>" placeholder="Event Details"></textarea></div>
                    </div>
                   

                    <!-- <div class="mb-3 mt-3 row g-9 align-items-center"> 
                      <div class="col col-lg-2"><label class="form-label">Mission Image</label></div>
                      <div class="col"><input type="file" name="mission_Photo" class="form-control" placeholder="select Mission Image" ></div>
                    </div> -->
               
                     <div class="mb-5 mt-3 align-items-center text-center"> 
                          <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      