<%- include('common/head.ejs')-%>

   <title>Admin Panel - ETC Events</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>

            <div class="col-lg-10">
 <center> <br> <a class="btn btn-success btn-md" href="/add-etcdepartment/">Add More Events</a> </center>
              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your contente -->

               <h1>All Events</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Event Resource Person</th>
                        <th>Event Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%x.forEach((y)=>{%>
                     <tr>
                        <td><%= y.eventetcname%></td>
                        <td><%=y.eventetcdate%></td>
                        <td><%=y.eventetcperson%></td>
                        <td><%= y.eventetcdesc%></td>
                        
                        <td>  <a class="btn btn-primary" href="/etcdepartment/edit-etcdepartment/<%= y.eventetcname%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/etcdepartment/delete-etcdepartment/<%= y.eventetcname%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                           </form>
                        </td>
                     </tr>
                     <%x})%>
                    
                  </tbody>
               </table>
                 

                
       

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      