<%- include('common/head.ejs')-%>

   <title>Admin Panel - ETC Faculty</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">
               <center> <br> <a class="btn btn-success btn-md" href="/add-etcfaculty/">Add Faculty</a> </center>
              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your contente -->

               <h1>ETC Faculty</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Photo</th>
                        <th>Faculty Name</th>
                        <th>Qualification</th>
                        <th>Department</th>
                        <th>Joining Year</th>
                        <th>Email ID</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%navdata.forEach((y)=>{%>
                     <tr>
                        <td>
                          <% if(y.etcfacultyPhoto){ %>
                              <img src="/backend/etcfaculty/<%= y.etcfacultyPhoto%>" width="100">
                          <% } else { %>
                              <img src="/backend/images/no_image.jpg" width="100">
                          <% } %>
                          </td>
                        <td><%= y.etcfacultyName%></td>
                        <td><%=y.etcfacultyQualification%></td>
                        <td><%=y.etcfacultyDepartment%></td>
                        <td> <%=y.etcfacultyJoiningYear%></td>
                        <td> <%=y.etcfacultyEmailId%></td>
                        
                        <td>  <a class="btn btn-primary" href="/etcfaculty/edit-etcfaculty/<%= y.etcfacultyEmailId%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/etcfaculty/delete-etcfaculty/<%= y.etcfacultyEmailId%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                           </form>
                        </td>
                     </tr>
                     <%navdata})%>
                    
                  </tbody>
               </table>



               
                 

             
       

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      