<%- include('common/head.ejs')-%>

   <title>Admin Panel - Event Pages</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1000px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your contente -->

               <h1>All Event Pages</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Event Image</th>
                        <th>Dept URL</th>
                        <th>Navigation</th>
                        <th>Title</th>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>Event Resource Person</th>
                        <th>Event Description</th>
                     
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%navdata.forEach((y)=>{%>
                     <tr>
                        <td>
                          <% if(y.eventphoto){ %>
                              <img src="/backend/events/<%= y.eventphoto%>" width="100">
                          <% } else { %>
                              <img src="/backend/images/no_image.jpg" width="100">
                          <% } %>
                          </td>
                        <td><%= y.eventdepturl%></td>
                        <td><%=y.eventnavtext%></td>
                        <td><%=y.eventdepttitle%></td>
                        <td><%= y.eventname%></td>
                        <td><%=y.eventdate%></td>
                        <td><%=y.eventperson%></td>
                        <td><%= y.eventdesc%></td>
                        <td>  <a class="btn btn-primary" href="/events/edit-event/<%= y.eventdepturl%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/events/delete-event/<%= y.eventdepturl%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                           </form>
                        </td>
                     </tr>
                     <%navdata})%>
                    
                  </tbody>
               </table>
                 

                 <center> <br> <a class="btn btn-success btn-md" href="/add-events/">Add More Pages</a> </center>
       

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      