<%- include('common/head.ejs')-%>

   <title>Admin Panel - Infrastructure Pages</title>
   </head>
   <body>

    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:1000px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your contente -->

               <h1>All Infrastructure Pages</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                     
                        <th>Infra Dept Url</th>
                        <th>Infra Nav Text</th>
                        <th>Infra Dept Title</th>
                        <th>Infra Navbar</th>
                        <th>Infra Dept About</th>
                  
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%x.forEach((y)=>{%>
                     <tr>
                        
                        <td><%= y.infradepturl%></td>
                        <td><%=y.infranavtext%></td>
                        <td><%=y.infradepttitle%></td>
                        <td> <%=y.infranav%></td>
                        <td><%=y.infradeptabout%></td>
                        <td>  <a class="btn btn-primary" href="/infra/edit-infra/<%= y.infradepturl%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/infra/delete-infra/<%= y.infradepturl%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                           </form>
                        </td>
                     </tr>
                     <%x})%>
                    
                  </tbody>
               </table>
                 

                 <center> <br> <a class="btn btn-success btn-md" href="/add-infra/">Add More Pages</a> </center>
       

              <!-- end your content here -->

             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      