<%- include('common/head.ejs')-%>

   <title>Admin Panel - Records</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your content -->

               <h1>All Records</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Photo</th>
                        <th>Student Name</th>
                        <th>Roll No</th>
                        <th>Department</th>
                        <th>Batch Year</th>
                        <th>CGPA</th>
                        <th>Company</th>
                        <th>Sem Num</th>
                        <th>Package</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%x.forEach((y)=>{%>
                     <tr>
                         <td>
                          <% if(y.recordPhoto){ %>
                              <img src="/backend/placements/<%= y.recordPhoto%>" width="100">
                          <% } else { %>
                              <img src="/backend/placements/no_image.jpg" width="100">
                          <% } %>
                          </td>
                        <td><%=y.student_name%> </td>
                        <td><%=y.rollno%> </td>
                        <td><%=y.department%> </td>
                        <td> <%=y.batchyr%> </td>
                        <td> <%=y.cgpa%> </td>
                        <td> <%=y.company%> </td>
                        <td> <%=y.semno%> </td>
                        <td> <%=y.package%> </td>
                        
                        <td>  <a class="btn btn-primary" href="/placement-records/edit-placement-records/<%= y.rollno%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/placement-records/delete-placement-records/<%= y.rollno%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                        </form>
                        </td>
                     </tr>
                     <%x})%>
                    
                  </tbody>
              </table>
                 

                 <center> <br> <a class="btn btn-success btn-md" href="/add-placement-records/">Add More Records</a> </center>
       

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      