<%- include('common/head.ejs')-%>

   <title>Admin Panel - Result</title>
   </head>
   <body>
    <%- include('common/header.ejs')-%>

      <div class="container-fluid bg-side-nav">
         <div class="row">
            <div class="col-lg-2 sidebaare" style="height:700px; background-color: black;">

                <%- include('common/sidebar.ejs')-%>

            </div>
            <div class="col-lg-10">

              <div class="dashboard-content-area">
               <%if(success && success != ''){%>
                  <div class="alert alert-success" role="alert">
                     <%= success %> </div>
               <%} else if(err && err != ''){%>
                     <div class="alert alert-danger" role="alert">
                        <%= err %> </div>
                        <%}%>


                 <!-- put your contente -->

               <h1>All Results</h1>
            
               
               
               <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                     <tr>
                        <th>Course</th>
                        <th>Semester</th>
                        <th>Rc</th>
                        <th>Date</th>
                        <th>Result Pdf</th>
                        <th>Page Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                     </tr>
                  </thead>
                  <tbody>
                     <%x.forEach((y)=>{%>
                     <tr>
                      
                        <td><%= y.course%></td>
                        <td><%=y.semester%></td>
                        <td><%=y.rc%></td>
                        <td> <%=y.date%></td>
                      
                        <td> <%=y.resultpdf%></td>
                        <td> <%=y.pageDetails.slice(0, 10)%></td>
                        
                        <td>  <a class="btn btn-primary" href="/result/edit-result/<%= y.course%>">Edit</a>    </td>                  
                        <td>  <form style="display: inline;" action="/result/delete-result/<%= y.course%>?_method=DELETE" method="POST">
                              <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                           </form>
                        </td>
                     </tr>
                     <%x})%>
                    
                  </tbody>
               </table>
                 

                 <center> <br> <a class="btn btn-success btn-md" href="/add-result/">Add More result</a> </center>
       

              <!-- end your content here -->




             </div>

            </div>
         </div>
      </div>
<%- include('common/footer.ejs')-%>
      